/* HomeView.css */

/* CSS for the banner image */
/* .image-fluid {
    position: absolute;
    max-height: 50%;
    width: 100%;
} */

/* .home-button-container {
    margin-top: 10rem; /* You can use Bootstrap spacing units like '3rem' for consistent spacing */
/* } */ 






