/* SuccessfulAddClientView.css */

/* Container styling with fade-in animation */
.successful-add-client-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 1; /* Set opacity to 1 to keep it visible */
  align-items: ;
}

/* Heading styling */
.successful-add-client-heading {
  color: #145DA0;
  font-size: 24px;
  margin-bottom: 10px;
}

/* Client details styling */
.client-details {
  margin-top: 20px;
  font-size: 18px;
}

.client-details p {
  margin: 10px 0;
}
.success-client-rating {
  color: #2E8BC0;
}

/* Strong text styling */
.client-details strong {
  color: #2E8BC0;
}
.success-name-client {
  color: #2E8BC0;
}
